/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

@font-face {
    font-family:'Ubuntu';
    font-style:normal;
    font-weight:100;
    src:url(./fonts/Ubuntu.ttf);
}

/* @keyframes change {

    0%   {color:black;}
    100% {color:red;}
} */

@keyframes change {
    0%   {opacity: 0.1;  color:black; transform:scale(1);}
    100% {opacity: 0.25; color:#ff9800; transform:scale(1.02);}
    
}

* {
    box-sizing:border-box;
}

html {
    font-family:'Ubuntu';
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    padding-top:8vw;
    overflow-y:auto;
    position:relative;
}

body:before {
    content: '';
    width:100%;
    height:100%;
    position:fixed;
    background-image: linear-gradient(to bottom, #ffffff , #fff0e0);
    z-index:-1;
}

.menu {
    width:100%;
    display:flex;
    position:fixed;
    height:8vw;
    top:0;
    background:white;
    z-index:2;
}

    .menu input {
        font-family:'Ubuntu';
        flex:1;
        display:block;
        outline:none;
        font-size:4vw;
        padding:0.3em 0.46em;  
    }

    .menu input::placeholder {
        opacity:0.6; 
    }

    .buttons {
        display:flex;
        right:0;
    } 

        .buttons * {
            user-select:none;
        }

        .buttons input {
            display: none;
        }

        .buttons label {
            display: flex;
        }

        .buttons label span {
            font-family:'Ubuntu';
            display:flex;
            align-items:center;
            border:1px solid #9e9e9e69;
            background:white;
            padding:0 1em;
            outline:none;
            font-size:2vw;
            color:#757575;
            cursor:pointer;
            transition:all 0.25s ease-in-out;
        }

        .buttons input:checked ~ span {
            background:#fff1e2;
            color:#f7992e;
            border:2px solid orange;
            box-shadow:inset 1px 2px 8px #0000001f;
    }
    /*         font-size:2.5vw; */
        }

.infoboard {
    display:flex;
    width:100%;
    height:100%;
    flex-direction:column;
}

    .infoboard:before {
        padding-top:4vw;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:none;
        align-items:center;
        justify-content:center;
        font-size:6vw;
        opacity:0.15;
    }
    
    html.loading .infoboard:before {
        display:flex;
        content: 'loading...';
        animation: change 0.7s ease-in-out alternate infinite;
    }

    .infoboard:empty:before {
        display:flex;
        content:'nothing found :(';
    }

    .row {
        display:flex;
        flex-direction:row;
        font-size:2.5vw;
        padding:1.2vw 0;
        padding-left:2vw;
    }

    body.delayed .infoboard .row:not(.delayed) {
        display:none;
    }

    .row.info {
        text-transform: uppercase;
        font-size:1vw;
        opacity:0.25;
        padding-top:2em;
    }

        .row.info > * {
            position:relative;
            left:0.15em;
        }

    .infoboard .row {
        color: rgba(0,0,0,0.8);
    }

        .row > * {
            flex:1;
        }

        .row .time {
            flex:0.35;
        }

        .row.delayed .time {
            color:#ff9901;
        }

        .row.delayed .time:after {
            content:'delayed';
            position:absolute;
            font-size:1.2vw;
            margin-top:-0.05em;
            margin-left:0.5em;
/*             z-index:-1; */
        }

        .row .city {
            flex:0.6;
            font-weight: bold;
        }

        .row .flight-number {
            flex:0.3;
        }

        .row .flight-status {
            opacity: 0.75;
        }

